* {
  box-sizing: border-box;
}
body {
  font-size: 25px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00bbff;
  position: -webkit-sticky; /* Safari */
position: sticky;
top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: v;
}

.active {
  background-color: #04AA6D;
}
.v49_54 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v49_55 {
  width: 100%;
  height: 129px;
  background: rgba(99,135,217,1);
  opacity: 1;
  position: absolute;
  top: 101px;
  left: 12px;
  overflow: hidden;
}
.v49_56 {
  width: 450px;
  color:rgba(99,135,217,1);
  position: absolute;
  top: 90px;
  left: 550px;
  font-family: Inter;
  font-weight: Bold Italic;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v49_57 {
  width: 276px;
  height: 56px;
  background: rgba(150,13,217,1);
  padding: 10px 20px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 17px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  text-decoration: none;
}
.v49_58 {
  width: 236px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 20px;
  font-family: Inter;
  font-weight: Bold Italic;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v49_59 {
  width: 728px;
  height: 571px;
  background: url("../images/v49_59.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 250px;
  left: 37px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v49_60 {
  width: 310px;
  color: rgba(99,135,217,1);
  position: absolute;
  top: 265px;
  left: 800px;
  font-family: Inter;
  font-weight: Bold Italic;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v49_61 {
  width: 620px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 315px;
  left: 800px;
  font-family: Inter;
  font-weight: Bold Italic;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v49_62 {
  width: 292px;
  color: rgba(99,135,217,1);
  position: absolute;
  top: 445px;
  left: 800px;
  font-family: Inter;
  font-weight: Bold Italic;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v49_63 {
  width: 112px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 500px;
  left: 800px;
  font-family: Inter;
  font-weight: Bold Italic;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v49_64 {
  width: 94px;
  color: rgba(99,135,217,1);
  position: absolute;
  top: 665px;
  left: 800px;
  font-family: Inter;
  font-weight: Bold Italic;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v49_65 {
  width: 86px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 715px;
  left: 800px;
  font-family: Inter;
  font-weight: Bold Italic;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
